---
import { HeroSlider1, HeroSlider3 } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Hero } from "@modules/Hero";
---

<Layout
    title="Paul Guatemala | Inicio"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            client:load
            heroType="fullPageSlider"
            data={[
                {
                    subtitle: "Paul Guatemala",
                    title: "Malamen",
                    background: "https://res.cloudinary.com/dpm7xaauu/image/upload/f_auto,q_auto/v1/landings/Paul/ccyv88netuqaaqobqqnh",
                    paragraph:
                        "lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.",
                    button: {
                        text: "Get pro version",
                        link: "https://codexcode.store/themes/cybernetic-website-template",
                    },
                },
                {
                    subtitle: "Rock & Trova",
                    title: "Escúchame",
                    background: "https://res.cloudinary.com/dpm7xaauu/image/upload/f_auto,q_auto/v1/landings/Paul/c6z0fk8evxfvepqauhgf",
                    paragraph: "",
                    button: {
                        text: "Mi música",
                        link: "/eventos",
                    },
                },
            ]}
        />
    </main>
</Layout>
